<div class="container">
				<div class="row">
					<div class="col-sm-6" id="addNoteForm"
						style=" background-color: {{AddNoteColor}} ">
						<div class="form-group">
						<img ng-show="AddNoteBox" ng-if="adding!=''" style="height: 200px;" ng-src="{{adding}}"/>
							<b><div ng-show="AddNoteBox" data-text="Title"
								contentEditable="true" id="title"></div></b>
							<br>
							<div contentEditable="true" data-text="Take a note..."
								ng-click="ShowAddNote()" id="description" style="margin-bottom: 5px"></div>
							<br>
							<div ng-show="AddNoteBox">{{AddReminder}}</div>
							<div role="button">
								<!-- <div ng-show="AddNoteBox" class="dropdown" style="float: right"> -->
									
										
										<div class="dropdown" ng-show="AddNoteBox" >
						
						<div class="btn-group dropup colorDiv" uib-dropdown>
						
							<div style="float: left">	<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown" alt="color" src="images/ic_color_lens_black_24px.svg" uib-dropdown-toggle height="20px">
								
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #ffffff">
									
										<a ng-repeat="color in colors" role="menuitem">
											<img ng-src="{{color.path}}" height="25px" ng-click="addNoteColorChange(color.color)">
										</a>
									</ul>
						</div>

							<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
								<img alt="reminder" src="images/reminder.svg" height="15px">
							</span>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li><input type="text" id="datepicker" class="reminder" ng-click="openAddReminder()"></li>
								<li><div ng-click="openReminder(note)"><span  >Pick Date & time</span></div></li>
									<li><div ng-click="reminder(note,'today')"><span  >Later today</span></div></li>
									<li><div ng-click="reminder(note,'tommorow')"><span  >Tommorow 8AM</span></div></li>
									<li><div ng-click="reminder(note,'nextweek')"><span  >Next week</span></div></li>
									</button></li>
							</ul>

							<img alt="image" ng-click="openImageUploader('input')" src="images/ic_photo_black_24px.svg" height="20px">
							
							<input id="imageuploader" ng-show="false" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">

							<span ng-click="addArchiveNote()">
								<img alt="archive" src="images/ic_archive_black_24px.svg" height="20px">
							</span></div>
							
							<div style="float: right"><span ng-click="addNote()">DONE</span></div>
										
								</div>

							</div>
							
							
							
							
							
						</div>
					</div>

				</div>
			</div>