<div class="container">
				<div class="row">
					<div class="col-sm-6" id="addNoteForm"
						style="background-color: rgb(250, 250, 250);">
						<div class="form-group">
							<div ng-show="AddNoteBox" data-text="Title"
								contentEditable="true" id="title"></div>
							<br>
							<div contentEditable="true" data-text="Take a note..."
								ng-click="ShowAddNote()" id="description"></div>
							<br>
							<div role="button" class="dropdown" ng-show="AddNoteBox">
							<div  style="float: left">fgfgbfbgf
							</div>
								<div  style="float: right">
									<div>
										<div  style="float: right">
											<div class="btn-group dropup colorDiv"></div>
											<span ng-click="addNote()">DONE</span>
										</div>
									</div>
								</div>

							</div>
							
							
							<!-- 
							<div ng-show="AddNoteBox">{{AddReminder}}</div>
				
					<div class="dropdown" ng-show="AddNoteBox" style="float: right">
						
						<div class="btn-group dropup colorDiv" uib-dropdown>
						
								<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown" alt="color" src="image/colorpallete.svg" uib-dropdown-toggle height="20px">
								
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #000000">
									
										<a ng-repeat="color in colors" role="menuitem">
											<img ng-src="{{color.path}}" height="25px" ng-click="addNoteColorChange(color.color)">
										</a>
									</ul>
						</div>

							<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
								<img alt="reminder" src="image/reminder.svg" height="15px">
							</span>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li><input type="text" id="datepicker" class="reminder" ng-click="openAddReminder()"></li>
								<li><button ng-click="openAddReminder()">
										<span class="glyphicon glyphicon-calendar"></span>
									</button></li>
							</ul>

							<img alt="image" ng-click="openImageUploader('input')" src="image/image.svg" height="20px">
							
							<input id="imageuploader" ng-show="false" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">

							<span ng-click="addArchiveNote()">
								<img alt="archive" src="image/archive.svg" height="20px">
							</span>
							
							<button ng-click="addNote()">DONE</button>
						
					</div> -->
							
							
						</div>
					</div>
				</div>
			</div>
