<div class="container">
	<div class="row">
		<div class="col-sm-5" id="addNoteForm" style="background-color: {{AddNoteColor}}">
		
			<div class="form-group" >
				<div ng-show="AddNoteBox" style="float: right">
					<!-- <span style="cursor: pointer" ng-click="pinUnpin()"><img ng-if="!pinStatus" style="height: 17px" alt="pin" src="image/pin.svg"><img ng-if="pinStatus" style="height: 17px" alt="pin" src="image/bluepin.svg"></span> -->
				</div>
				<div ng-show="AddNoteBox" data-ph="Title" contenteditable="true" placeholder="title" id="notetitle"></div>
				<input placeholder="title" name="note.title">
					<br>
				<input placeholder="take a note..." name="note.description">
				<div contenteditable="true" data-ph="Take a note..." ng-click="ShowAddNote()" id="noteDescription"></div>
				<br>
				<!-- <div ng-show="AddNoteBox" style="float: right">
				<div>
					<div class="dropdown" style="float: right"> 
						<div class="btn-group dropup colorDiv" uib-dropdown>
							<img id ="dropdown" class="dropdown-toggle" data-toggle="dropdown" alt="color" 
										src="image/colorpallete.svg"  uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #000000">
										 <a ng-repeat="color in colors"   role="menuitem">
											<img ng-src="{{color.path}}"  height="25px" ng-click="addNoteColorChange(color.color)">
										</a>
									</ul>
						</div>
						
					<span ng-click="addArchiveNote()">
						<img alt="archive" src="image/archive.svg" height="20px">
					</span> -->
					<span ng-click="addNote()" >DONE</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>