<div id="mainHome">
	<top-navigation-bar></top-navigation-bar>

	<div class="col-sm-2" id="sidebarWrapper" ng-show="showSideBar">
		<side-navigation-bar></side-navigation-bar>
	</div>

	<div class="col-sm-10" id="mainWrapper">
		<br> <br>
			<br>
			<br>
			<div class="card" style="background-color: {{note.noteColor}}"
				ng-repeat="note in userNotes | orderBy : '-modifiedDate' | filter :{archiveStatus:'true',noteStatus:'false'}">
				<div id="moreOptions" style="float: right">
					<span style="cursor: pointer"
						ng-click="note.pin='true';note.archiveStatus='false' ;note.noteStatus='true'; updateNote(note)"> <img
						alt="pin" style="height: 17px" src="image/pin.svg"></img>
					</span>
				</div>
				<div ng-bind-html="note.title"></div>
				<br>
				<div ng-bind-html="note.description"></div>
				<br>
				<div id="moreOptions">
					<div class="dropdown" style="float: right">
						<img alt="reminder" src="image/reminder.svg" height="15px">
						<img alt="colaburator" src="image/colaburator.png" height="25px"> 
						<div class="btn-group dropup colorDiv" uib-dropdown>
							<img id ="dropdown" class="dropdown-toggle" data-toggle="dropdown" alt="color" 
										src="image/colorpallete.svg"  uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #f9fbff">
										 <a ng-repeat="color in colors"   role="menuitem">
											<img ng-src="{{color.path}}"  height="25px" ng-click="note.noteColor =color.color; changeColor(note)">
										</a>
									</ul>
						</div>
						<img alt="image" src="image/image.svg" height="20px">
						<span ng-click="unarchiveNote(note)"><img alt="archive" src="image/unarchive.png" height="17px"></span> 
						<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
							<span class="glyphicon glyphicon-option-vertical"></span>
						</span>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							<li><a ng-click="deleteNote(note)">Delete</a></li>
							<li><a>Add Lable</a></li>
							<li><a ng-click="copy(note)">Make a Copy</a></li>
						</ul>
					</div>
				</div>
			</div>

	</div>
</div>