<div class="mainHome">
	<!-- ************************************* Start of Top Bar ********************************************** -->
	<top-nav-bar></top-nav-bar>
	<!-- ************************************* End of Top Bar  ********************************************** -->

	<div class="row" id="homeId">
		<div class="col-sm-3">
			<!-- ************* Start of Side Bar ***************** -->
			<side-nav-bar></side-nav-bar>
			<!-- ********************* End of Side Bar *************************** -->
		</div>

		<div class="col-sm-9">
			<!-- <add-note></add-note> -->
			<div class="container">
				<div class="row">
					<div class="col-sm-6" id="addNoteForm"
						style="background-color: rgb(250, 250, 250);">
						<div class="form-group">
							<b><div ng-show="AddNoteBox" data-text="Title"
								contentEditable="true" id="title"></div></b>
							<br>
							<div contentEditable="true" data-text="Take a note..."
								ng-click="ShowAddNote()" id="description" style="margin-bottom: 5px"></div>
							<br>
							<div role="button">
								<div ng-show="AddNoteBox" style="float: right">
									<div>
										<div class="dropdown" style="float: right">
											<div class="btn-group dropup colorDiv"></div>
											<span ng-click="addNote()">DONE</span>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			
			
			
			<!--************* Pinned Notes ******************-->
			<div style="margin-top: 20px;"><p style="margin-bottom: -6px;">Pinned</p>
				<div layout="row" layout-wrap flex>
					<div class="card" style="padding: 2px 16px" ng-click="popup(note)" style="background-color: {{note.noteColor}}"
					 ng-repeat="note in notes | orderBy:'-modifiedDate'| filter :{pin:'false', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'}" >
					 
					 <div id="moreOptions" style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=true; updateNote(note)"> 
								<img alt="pin" style="height: 17px" src="images/bluepin.svg"></img>
							</span>
						</div>
					 
						<div>
								<div style="margin: 8px" ng-click="open(note)"><b>{{note.title}}</b></div>
								<div style="margin: 7px" ng-click="open(note)">{{note.description}}</div><br/>
																					
						<div id="moreOptions">

							<div class="dropdown" style="float: left">
								<img alt="reminder" src="images/reminder.svg" height="20px">
								<img alt="colaburator" src="images/colaburator.png" height="20px">
								<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/ic_color_lens_black_24px.svg" uib-dropdown-toggle height="20px">
									<!-- <ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
											ng-src="{{color.path}}" height="25px"
											ng-click="note.noteColor =color.color;addNoteColorChange(color.color)">
										</a>
									</ul> -->
								</div>
								<img alt="image" src="images/ic_photo_black_24px.svg" height="20px"> <span
									ng-click="archiveNote(note)"><img alt="archive"
									src="images/ic_archive_black_24px.svg" height="20px"></span>
								<div style="float: right">
									<span class="btn dropdown-toggle" id="menu1"
										data-toggle="dropdown"> <span
										class="glyphicon glyphicon-option-vertical"></span>
									</span>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left: 150px;">
										<li><a ng-click="deleteNote(note)">Delete</a></li>
										<li><a>Add Lable</a></li>
										<li><a ng-click="copy(note)">Make a Copy</a></li>
									</ul>
								</div>
							</div>
						</div>
							</div>
						
					</div>
				
				</div>
			</div>
			
			
			
			

			<!--************* getting All Notes ******************-->
			<div style="margin-top: 20px;"><p style="margin-bottom: -6px;">Others</p>
				<div layout="row" layout-wrap flex>
					<div class="card" style="padding: 2px 16px" ng-click="popup(note)" style="background-color: {{note.noteColor}}"
					 ng-repeat="note in notes | orderBy:'-modifiedDate'| filter :{pin:'true', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'}" >
					 
					 <div id="moreOptions" style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=false; updateNote(note)"> 
								<img alt="pin" style="height: 17px" src="images/pin.png"></img>
							</span>
						</div>
					 
						<div>
								<div style="margin: 8px" ng-click="open(note)"><b>{{note.title}}</b></div>
								<div style="margin: 7px" ng-click="open(note)">{{note.description}}</div><br/>
																					
						<div id="moreOptions">

							<div class="dropdown" style="float: left">
								<img alt="reminder" src="images/reminder.svg" height="20px">
								<img alt="colaburator" src="images/colaburator.png" height="20px">
								<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/ic_color_lens_black_24px.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
											ng-src="{{color.path}}" height="25px"
											ng-click="addNoteColorChange(color.color)">
										</a>
									</ul>
								</div>
								<img alt="image" src="images/ic_photo_black_24px.svg" height="20px"> <span
									ng-click="archiveNote(note)"><img alt="archive"
									src="images/ic_archive_black_24px.svg" height="20px"></span>
								<div style="float: right">
									<span class="btn dropdown-toggle" id="menu1"
										data-toggle="dropdown"> <span
										class="glyphicon glyphicon-option-vertical"></span>
									</span>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left: 150px;">
										<li><a ng-click="deleteNote(note)">Delete</a></li>
										<li><a>Add Lable</a></li>
										<li><a ng-click="copy(note)">Make a Copy</a></li>
									</ul>
								</div>
							</div>
						</div>
							</div>
						
					</div>
				
				</div>
			</div>
		</div>


	</div>
</div>