<div class="mainHome">
	<!-- ************************************* Start of Top Bar ********************************************** -->
	<top-nav-bar></top-nav-bar>
	<!-- ************************************* End of Top Bar  ********************************************** -->

	<div class="row" id="homeId">
		<div class="col-sm-3">
			<!-- ************* Start of Side Bar ***************** -->
			<side-nav-bar ></side-nav-bar >
			<!-- ********************* End of Side Bar *************************** -->
		</div>

		<div class="col-sm-9">
			<add-note></add-note>
			<!-- <div class="container">
				<div class="row">
					<div class="col-sm-6" id="addNoteForm"
						style="background-color: {{AddNoteColor}}">
						<div class="form-group">
							<b><div ng-show="AddNoteBox" data-text="Title"
								contentEditable="true" id="title"></div></b>
							<br>
							<div contentEditable="true" data-text="Take a note..."
								ng-click="ShowAddNote()" id="description" style="margin-bottom: 5px"></div>
							<br>
							<div ng-show="AddNoteBox">{{AddReminder}}</div>
							<div role="button">
								<div ng-show="AddNoteBox" class="dropdown" style="float: right">
									
										
										<div class="dropdown" ng-show="AddNoteBox" >
						
						<div class="btn-group dropup colorDiv" uib-dropdown>
						
							<div style="float: left">	<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown" alt="color" src="images/ic_color_lens_black_24px.svg" uib-dropdown-toggle height="20px">
								
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #000000">
									
										<a ng-repeat="color in colors" role="menuitem">
											<img ng-src="{{color.path}}" height="25px" ng-click="addNoteColorChange(color.color)">
										</a>
									</ul>
						</div>

							<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
								<img alt="reminder" src="images/reminder.svg" height="15px">
							</span>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li><input type="text" id="datepicker" class="reminder" ng-click="openAddReminder()"></li>
								<li><button ng-click="openAddReminder()">
										<span class="glyphicon glyphicon-calendar"></span>
									</button></li>
							</ul>

							<img alt="image" ng-click="openImageUploader('input')" src="images/ic_photo_black_24px.svg" height="20px">
							
							<input id="imageuploader" ng-show="false" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">

							<span ng-click="addArchiveNote()">
								<img alt="archive" src="images/ic_archive_black_24px.svg" height="20px">
							</span></div>
							
							<div style="float: right"><span ng-click="addNote()">DONE</span></div>
										
								</div>

							</div>
							
							
							
							
							
						</div>
					</div>

				</div>
			</div> -->
			
			
			
			<!--************* Pinned Notes ******************-->
			<div style="margin-top: 20px;">
			<h4 ng-show="pinnedAll.length">Pinned</h4>
				<div layout="row" layout-wrap flex>
					<div class="{{card}}" style="padding: 2px 16px ; background-color: {{note.noteColor}}" ng-click="popup(note)" id="card" 
					 ng-repeat="note in notes | orderBy:'-modifiedDate'| filter :{pin:'false', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'} as pinnedAll" >
					 
					 <div id="moreOptions" style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=true; updateNote(note)"> 
								<img alt="pin" style="height: 17px" src="images/bluepin.svg"></img>
							</span>
						</div>
					 
						<div>
						<img ng-if="note.image!=''" ng-click="open(note)" style="height: 200px;" ng-src="{{note.image}}"/>
						<span ng-click="removeImage(note)" > <img ng-if="note.image!=''" alt="delete" id="moreOptions" src="images/delete.svg" height="20px"></span>
								<b><div style="margin: 8px" ng-click="open(note)" ng-bind-html="note.title"></div></b>
								<div style="margin: 7px" ng-click="open(note)" ng-bind-html="note.description"></div><br/>
								
					<div ng-if="note.reminderStatus" >{{note.reminderStatus}}<span ng-click="deleteReminder(note)" style="margin-left: 10px; background-color:{{note.noteColor}};"><img alt="cancel" src="images/cancel.svg" height="20px"></span></div>
													
						<div id="moreOptions">

							<div class="dropdown" style="float: left">
							<span class="btn dropdown-toggle" id="menuRemind" data-toggle="dropdown">
								<img alt="reminder" src="images/reminder.svg" height="20px"></span>
								
									<ul class="dropdown-menu" role="menu" aria-labelledby="menuRemind">
									<li><input type="text" ng-attr-id="datepicker{{note.id}}" class="reminder" ng-click="openReminder(note)" ng-model="note.reminderStatus"></li>
									<li><div ng-click="openReminder(note)"><span>Pick Date & time</span></div></li>
									<li><div ng-click="reminder(note,'today')"><span>Later today</span></div></li>
									<li><div ng-click="reminder(note,'tommorow')"><span>Tommorow 8AM</span></div></li>
									<li><div ng-click="reminder(note,'nextweek')"><span>Next week</span></div></li>									
									</ul>
									
								<img alt="collaborator" src="images/collaborator.png" height="20px" ng-click="openCollaborate(note,User)">
								
								<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/ic_color_lens_black_24px.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
											ng-src="{{color.path}}" height="25px"
											ng-click="note.noteColor =color.color;changeColor(note)">
										</a>
									</ul>
								</div>
								<img alt="image" src="images/ic_photo_black_24px.svg" height="20px" ng-click="openImageUploader(note)">
								<input id="imageuploader" ng-show="false" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
								 
								
								<span
									ng-click="archiveNote(note)"><img alt="archive"
									src="images/ic_archive_black_24px.svg" height="20px"></span>
								<div style="float: right">
									<span class="btn dropdown-toggle" id="menu1"
										data-toggle="dropdown"> <span
										class="glyphicon glyphicon-option-vertical"></span>
									</span>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left: 150px;">
										<li><a ng-click="deleteNote(note)">Delete</a></li>
										<li><a>Add Label</a></li>
										<li><a ng-click="copy(note)">Make a Copy</a></li>
										<li><a ng-click="socialShare(note)">Social Share(fb)</a></li>
									</ul>
								</div>
							</div>
						</div>
							</div>
						
					</div>
				
				</div>
			</div>
			<br>
			<!--************* getting All Notes ******************-->
			<div style="margin-top: 20px;">
			<h4 ng-show="pinnedAll.length">Others</h4>
				<div layout="row" layout-wrap flex>
					<div class="{{card}}" style="padding: 2px 16px; background-color:{{note.noteColor}};" id="card"  
					 ng-repeat="note in notes | orderBy:'-modifiedDate'| filter :{pin:'true', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'} as OtherNotes" >
					 
					 <div id="moreOptions" style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=false; updateNote(note)"> 
								<img alt="pin" style="height: 17px" src="images/pin.png"></img>
							</span>
						</div>
					 
						<div><div >
						<img ng-if="note.image!=''" ng-click="open(note)" style="height: 200px;" ng-src="{{note.image}}"/><br>
						<span ng-click="removeImage(note)" > <img ng-if="note.image!=''" alt="delete" id="moreOptions" src="images/delete.svg" height="20px" style="float: right"></span>
								<b><div style="margin: 8px" ng-click="open(note)" ng-bind-html="note.title"></div></b>
								<div style="margin: 7px" ng-click="open(note)" ng-bind-html="note.description"></div><br/>	
						<div ng-if="note.reminderStatus" >{{note.reminderStatus}}<span ng-click="deleteReminder(note)" style="margin-left: 10px; background-color:{{note.noteColor}};"><img alt="cancel" src="images/cancel.svg" height="20px"></span></div>
						</div>															
						<div id="moreOptions">

							<div class="dropdown" style="float: left">
							<span class="btn dropdown-toggle" id="menuRemind" data-toggle="dropdown">
								<img alt="reminder" src="images/reminder.svg" height="20px" style="margin-left: -30px"></span>
								
									<ul class="dropdown-menu" role="menu" aria-labelledby="menuRemind">
									<li><input type="text" ng-attr-id="datepicker{{note.id}}" class="reminder" ng-click="openReminder(note)" ng-model="note.reminderStatus"></li>
									<li><div ng-click="openReminder(note)"><span  >Pick Date & time</span></div></li>
									<li><div ng-click="reminder(note,'today')"><span  >Later today</span></div></li>
									<li><div ng-click="reminder(note,'tommorow')"><span  >Tommorow 8AM</span></div></li>
									<li><div ng-click="reminder(note,'nextweek')"><span  >Next week</span></div></li>
									</ul>
								
								<img alt="collaborator" src="images/collaborator.png" height="20px" style="margin-left: -20px" ng-click="openCollaborate(note,User)">
								
								<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/ic_color_lens_black_24px.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
											ng-src="{{color.path}}" height="25px"
											ng-click="note.noteColor =color.color;changeColor(note)">
										</a>
									</ul>
								</div>
								<img alt="image" src="images/ic_photo_black_24px.svg" height="20px" ng-click="openImageUploader(note)">
								
								<input id="imageuploader" ng-show="false" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
								
								
								<span ng-click="archiveNote(note)"><img alt="archive"
									src="images/ic_archive_black_24px.svg" height="20px"></span>
								<div style="float: right">
									<span class="btn dropdown-toggle" id="menu1"
										data-toggle="dropdown"> <span
										class="glyphicon glyphicon-option-vertical"></span>
									</span>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left: 150px;">
										<li><a ng-click="deleteNote(note)">Delete</a></li>
										<li><!-- <a>Add Label</a> -->
										<span class="btn dropdown-toggle" id="menu2" data-toggle="dropdown">Add Lable</span>
											<ul class="dropdown-menu" role="menu" aria-labelledby="menu2" style="margin-left: 150px;">
												<li>Label</li>
												<li><input type="text" id="label" name="label"></li>
											</ul>
										</li>
										<li><a ng-click="copy(note)">Make a Copy</a></li>
										<li><a ng-click="socialShare(note)">Social Share(fb)</a></li>
									</ul>
								</div>
							</div>
						</div>
							</div>
						<br>
					</div>
				
				</div>
			</div>
		</div>


	</div>
