<div class="mainHome" style=" background-color:#e8e8e8;">
	<!-- ************************************* Start of Top Bar ********************************************** -->
	<top-nav-bar></top-nav-bar>
	<!-- ************************************* End of Top Bar  ********************************************** -->

	<div class="row" style="height:300%;  background-color:#e8e8e8;">
		<div class="col-sm-3">
			<!-- ************* Start of Side Bar ***************** -->
			<side-nav-bar ></side-nav-bar >
			<!-- ********************* End of Side Bar *************************** -->
		</div>
		
		<div id="noteToggle">

		<div class="col-sm-12 col-xs-12 col-lg-9">
			<add-note></add-note>
			
			<!--************* Pinned Notes ******************-->
			<div style="margin-top: 20px;">
			<h4 ng-show="pinnedAll.length">Pinned</h4>
				<!-- <div layout="row" layout-wrap flex> -->
					<div class="{{card}}" style="padding: 2px 16px ; background-color: {{note.noteColor}}" ng-click="popup(note)" id="card" 
					 ng-repeat="note in notes | orderBy:'-modifiedDate'| filter :{pin:'false', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'} as pinnedAll" >
					 
					 <div id="moreOptions" style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=true; updateNote(note)"> 
								<img alt="pin" style="height: 17px" src="images/bluepin.svg"></img>
							</span>
						</div>
					 
						<div>
						<img ng-if="note.image!=''" ng-click="open(note)" style="height: 200px;" ng-src="{{note.image}}"/>
						<span ng-click="removeImage(note)" > <img ng-if="note.image!=''" alt="delete" id="moreOptions" src="images/delete.svg" height="20px"></span>
								<b><div style="margin: 8px" ng-click="open(note)" ng-bind-html="note.title"></div></b>
								<div style="margin: 7px" ng-click="open(note)" ng-bind-html="note.description"></div><br/>
								
					<div ng-if="note.reminderStatus" >{{note.reminderStatus}}<span ng-click="deleteReminder(note)" id="moreOptions" style="margin-left: 10px; background-color:{{note.noteColor}};"><img alt="cancel" src="images/cancel.svg" height="20px"></span></div>
						
						<div ng-repeat="noteLabel in note.labels">
							<div id="label" ng-if="label.labelName!=''"> {{noteLabel.labelName}}
								<span class="closebtn" ng-click="deleteNoteLabel(note,noteLabel)">&#x274C;</span>
							</div>
						</div>
								<div>
								<url-program></url-program>
								</div>					
						<div id="moreOptions">

							<div class="dropdown" style="float: left">
							
							<reminder-icon></reminder-icon>
							
								<img alt="collaborator" src="images/collaborator.png" height="20px" ng-click="openCollaborate(note,User)">
								
								<note-color></note-color>
								
								<img alt="image" src="images/ic_photo_black_24px.svg" height="20px" ng-click="openImageUploader(note)">
								<input id="imageuploader" ng-show="false" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
								 
								<span
									ng-click="archiveNote(note)"><img alt="archive"
									src="images/ic_archive_black_24px.svg" height="20px"></span>
								<more-option></more-option>
							</div>
						</div>
							</div>
						
					</div>
				
				<!-- </div> -->
			</div>
			<br>
			<!--************* getting All Notes ********************-->
			
			<div style="margin-top: 20px;">
			<h4 ng-show="pinnedAll.length">Others</h4>
				<div layout="row" layout-wrap flex>
					<div class="{{card}}" style="padding: 2px 16px; background-color:{{note.noteColor}};" id="card"  
					 ng-repeat="note in notes | orderBy:'-modifiedDate'| filter :{pin:'true', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'} as OtherNotes" >
					 
					 <div id="moreOptions" style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=false; updateNote(note)"> 
								<img alt="pin" style="height: 17px" src="images/pin.png"></img>
							</span>
						</div>
					 
						<div><div >
						<img ng-if="note.image!=''" ng-click="open(note)" style="height: 200px;" ng-src="{{note.image}}"/><br>
						<span ng-click="removeImage(note)" > <img ng-if="note.image!=''" alt="delete" id="moreOptions" src="images/delete.svg" height="20px" style="float: right"></span>
								<b><div style="margin: 8px" ng-click="open(note)" ng-bind-html="note.title"></div></b>
								<div style="margin: 7px" ng-click="open(note)" ng-bind-html="note.description"></div><br/>	
						<div ng-if="note.reminderStatus" >{{note.reminderStatus}}<span ng-click="deleteReminder(note)" id="moreOptions" style="margin-left: 10px; background-color:{{note.noteColor}};"><img alt="cancel" src="images/cancel.svg" height="20px"></span></div>
						</div>	
						
						<div ng-repeat="noteLabel in note.labels">
							<div id="label" ng-if="label.labelName!=''"> {{noteLabel.labelName}}
								<span class="closebtn" ng-click="deleteNoteLabel(note,noteLabel)">&#x274C;</span>
							</div>
						</div>
						
						<div class="row" ng-init="getUserlist(note,User)">
						<div ng-repeat="user in note.collabratorUsers">
						<div class="col-sm-2">
						<img ng-src="{{user.profile}}" class="img-circle" height="25" width="25"/>
						</div></div></div>
												
							<div>
							
							<url-program></url-program>
							<!-- <span ng-init="checkURL(note)">
							<div ng-repeat="urlData in note.arrayOfUrlData">
									<div ng-if="urlData.title">
										<a ng-href="{{urlData.url}}" target="_black">
											<div class="row"
												style="background-color: #ffffff; margin-right: 0px; margin-left: 0px; border: 1px solid grey">

												<div class="col-sm-4 col-md-4 col-xs-4" style="padding: 0px">
													<img ng-src="{{urlData.imageURL}}" height="50" width="60">
												</div>

												<div class="col-sm-8 col-md-8 col-xs-8">
													<div ng-bind="urlData.title"
														style="font-size: 14px; color: black;"></div>
													<div ng-bind="urlData.url"
														style="font-size: 10px; color: grey;"></div>
												</div>
											</div>
										</a>
									</div>
							</div>
							</span> -->
							</div>													
						<div id="moreOptions">

							<div class="dropdown" style="float: left">
								<reminder-icon></reminder-icon>
								
								<img alt="collaborator" src="images/collaborator.png" height="20px" style="margin-left: -20px" ng-click="openCollaborate(note,User)">
								
												<note-color></note-color>
								
								<img alt="image" src="images/ic_photo_black_24px.svg" height="20px" ng-click="openImageUploader(note)">
								
								<input id="imageuploader" ng-show="false" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
								
								
								<span ng-click="archiveNote(note)"><img alt="archive"
									src="images/ic_archive_black_24px.svg" height="20px"></span>
									<more-option></more-option>
									
							</div>
						</div>
						
						<!-- <div ng-click="checkURL(note)">checkURL</div> -->
						

						</div>
						<br>
					</div>
				
				</div>
			</div>
			</div>
		</div>

</div>
	</div>
