<div id="mainHome">
	<!-- ************************************* Start of Top Bar ********************************************** -->
	<top-nav-bar></top-nav-bar>
	<!-- ************************************* End of Top Bar  ********************************************** -->

	<div class="row" id="homeId" style="margin-top: 0px; ">
	<div class="col-sm-3" id="sidebarWrapper" ng-show="showSideBar">
		<!-- ************* Start of Side Bar ***************** -->
			<div style="margin-left: 100px; "><side-nav-bar></side-nav-bar></div>
			
			<!-- ********************* End of Side Bar *************************** -->
	</div>


	<div class="col-sm-9" id="mainWrapper">
		<br> <br>
			<div class="card" style=" width:30% ; background-color: {{note.noteColor}}"
				ng-if="note.reminderStatus!=''" ng-repeat="note in notes | orderBy : '-modifiedDate' | filter :{ deleteStatus:'false'}">
				<div id="moreOptions" style="float: right">
					<span style="cursor: pointer"
						ng-click="note.pin='false';note.archiveStatus='false' ; updateNote(note)"> <img
						alt="pin" style="height: 17px" src="images/pin.png"></img>
					</span>
				</div>
				<b><div style="margin: 8px" ng-bind-html="note.title"></div></b>
				<div style="margin: 7px" ng-bind-html="note.description"></div><br/>
				<br>
				<div ng-click="openReminder(note)" ng-bind="note.reminderStatus"><span ng-click="deleteReminder(note)" style="margin-left: 10px; background-color:{{note.noteColor}};"><img alt="cancel" src="images/cancel.svg" height="20px"></span></div>
				
				<div id="moreOptions">

							<div class="dropdown" style="float: left">
								<span class="btn dropdown-toggle" id="menuRemind" data-toggle="dropdown">
								<img alt="reminder" src="images/reminder.svg" height="20px" style="padding: 0px;"></span>
								
									<ul class="dropdown-menu" role="menu" aria-labelledby="menuRemind">
									<li><input type="text" ng-attr-id="datepicker{{note.id}}" class="reminder" ng-click="openReminder(note)" ng-model="note.reminderStatus"></li>
									<li><button ng-click="openReminder(note)"><span  class="glyphicon glyphicon-calendar"></span></button></li>
									</ul>
								
								<img alt="collaborator" src="images/collaborator.png" height="20px" style="margin-left: -17px;">
								
								<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/ic_color_lens_black_24px.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
											ng-src="{{color.path}}" height="25px"
											ng-click="note.noteColor =color.color;changeColor(note)">
										</a>
									</ul>
								</div>
								<img alt="image" src="images/ic_photo_black_24px.svg" height="20px"> 
								<span ng-click="archiveNote(note)">
									<img alt="archive" src="images/ic_archive_black_24px.svg" height="20px"><img alt="archive"
									src="images/unarchive.svg" height="20px"></span>
								<div style="float: right">
									<span class="btn dropdown-toggle" id="menu1"
										data-toggle="dropdown"> <span
										class="glyphicon glyphicon-option-vertical"></span>
									</span>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left: 150px;">
										<li><a ng-click="deleteNote(note)">Delete</a></li>
										<li><a>Add Lable</a></li>
										<li><a ng-click="copy(note)">Make a Copy</a></li>
										<li><a ng-click="socialShare(note)">Social Share(fb)</a></li>
									</ul>
								</div>
							</div>
						</div>
				
			</div>
		</div>
	</div>
</div>