<div ng-controller="homeController" ng-cloak>
  <md-content>
    <md-toolbar style="background-color:rgb(255, 204, 0)">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" style="margin:10px">
          <md-icon md-svg-src="./images/menu.svg"></md-icon>
          <!-- <image class="" src="/home/bridgeit/Documents/Sujay/HTML/menu.png"/> -->
        </md-button>
        
         <!-- <image class="" src="/home/bridgeit/Documents/Sujay/HTML/menu.png"/> -->

        <h2>Fundoo Keep</h2><br/>
        <input type="text" placeholder="search" style="align:center">

        <md-button class="md-icon-button" >
          <md-icon md-svg-src="./images/ic_search_black_24px.svg" ></md-icon>
        </md-button>

        <md-button class="md-icon-button">
          <md-icon md-svg-src="/images/ic_account_box_black_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
	</md-content>
</div>