<div id="mainHome" style=" width: 100%;height:100%; background-color:#e8e8e8;">
	<!-- ************************************* Start of Top Bar ********************************************** -->
	<top-nav-bar></top-nav-bar>
	<!-- ************************************* End of Top Bar  ********************************************** -->
<div class="row" id="homeId">
	<div class="col-sm-3" id="sidebarWrapper" ng-show="showSideBar">
		<!-- ************* Start of Side Bar ***************** -->
			<div style="margin-left: 100px; "><side-nav-bar></side-nav-bar ></div>
			<!-- ********************* End of Side Bar *************************** -->
	</div>
<div id="noteToggle">
	<div class="col-sm-9" id="mainWrapper">
		<br> <br>
			
			<div class="{{card}}" id="card" style=" width:300px;background-color:{{note.noteColor}}" 
				ng-repeat="note in notes | orderBy : '-modifiedDate' | filter :{deleteStatus:'true'}">
				
				<b><div style="margin: 8px" ng-bind-html="note.title"></div></b>
				<div style="margin: 7px" ng-bind-html="note.description"></div>
				<br>
				<div id="moreOptions">
					<div class="dropdown" style="float: left">
						<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
							<span class="glyphicon glyphicon-option-vertical"></span>
						</span>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							<li><a ng-click="deleteNoteForever(note)">Delete Forever</a></li>
							<li><a ng-click="deleteNote(note)">Restore</a></li>
						</ul>
					</div>
				</div>
			</div>

	</div></div>
	</div>
</div>