@CHARSET "UTF-8";

.SideNavigation{
	/* background-color:#66686b; */
	height: 100%;
	width :20%;
    position : fixed;
	z-index:2;
	transition : 1000.0ms;
	margin-top: -10px;
}

.SideNavigation li{
	 list-style-type:none;
	 
     margin-right: 15px;
     margin-top: 10px;
     display: block;
     padding: 10px;

}

.SideNavigation a{
	color: black;
    display: block;
}
